@model IEnumerable<MageNPCTracker.Models.Npctable>

@{
    ViewData["Title"] = "CofD NPC List";
}

<h2 style="text-align: center;">Mage NPC Index</h2>

<span style="margin-right: 10px;">@Html.ActionLink("Create New NPC", "Create")</span>
<span style="margin-right: 10px;">@Html.ActionLink("Add Mage Template", "CreateMage")</span>
<table id="NPCTable" class="table webgrid-table">
    <thead>
        <tr class="webgrid-header" style="text-align: center;">
            <th>Alias</th>
            <th>Real Name</th>
            <th>Gnosis</th>
            <th>Alive?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr class="webgrid-row-style" style="text-align: center;">

                @if(item.Alias != null){
                    <td>@Html.ActionLink(item.Alias, "Details", new { id = item.Npcid })</td>
                }
                else
                {
                    <td></td>
                }
                <td>@Html.ActionLink(item.RealName, "Details", new { id = item.Npcid })</td>
                <td>@Html.ActionLink(item.SupernaturalTrait.ToString(), "Details", new { id = item.Npcid })</td>
                <td>@Html.ActionLink(item.Alive.ToString(), "Details", new { id = item.Npcid })</td>
                <td>@Html.ActionLink("Edit NPC", "Edit", new { id = item.Npcid }) | @Html.ActionLink("Delete", "Delete", new { id = item.Npcid })</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{ 
    <script type="text/javascript">
        var table = $('#NPCTable').DataTable();
    </script>
}
