@model MageIndexViewModel

@{
    ViewData["Title"] = "CofD NPC List";
}

<h2 style="text-align: center;">Mage NPC Index</h2>

<span style="margin-right: 10px;">@Html.ActionLink("Create New NPC", "Create", "NPC", null)</span>

<table id="searchTable" class="table">
    <thead>
        <tr class="webgrid-header" style="text-align: center;">
        </tr>
    </thead>
    <tbody>
        <tr class="webgrid-row-style" style="text-align: center;">
            <td>@Html.DropDownList("Arcana", (IEnumerable<SelectListItem>)ViewBag.Arcana, "Select Arcana", htmlAttributes: new { @class = "form-control"})</td>
            <td>@Html.DropDownList("Level", (IEnumerable<SelectListItem>)ViewBag.Levels, "Select Level", htmlAttributes: new { @class = "form-control" })</td>
        </tr>
    </tbody>
</table>

<table id="NPCTable" class="table webgrid-table">
    <thead>
        <tr class="webgrid-header" style="text-align: center;">
            <th>Shadow Name</th>
            <th>Gnosis</th>
            <th>Cabal</th>
            <th>Legacy</th>
            <th>Order</th>
            <th>Order Status</th>
            <th>Consilium Status</th>
            <th>Arcana</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.MageInfo.Count; i++)
        {
            <tr class="webgrid-row-style" style="text-align: center;">
                @if (Model.MageInfo[i].Alive)
                {
                    <td>@Html.ActionLink(Model.MageInfo[i].ShadowName, "Details", new { id = Model.MageInfo[i].NPCId })</td>
                }
                else
                {
                    <td>@Html.ActionLink(Model.MageInfo[i].ShadowName + " (Dead)", "Details", new { id = Model.MageInfo[i].NPCId })</td>
                }
                <td>@Model.MageInfo[i].Gnosis.ToString()</td>
                @if (Model.MageInfo[i].CabalId != null)
                {
                    <td>@Html.ActionLink(Model.MageInfo[i].Cabal, "Details", "Cabal", new { id = Model.MageInfo[i].CabalId })</td>
                }
                else
                {
                    <td></td>
                }
                @if (Model.MageInfo[i].LegacyId != null)
                {
                    <td><a href="https://dbeditor.azurewebsites.net/Legacy/Details/@Model.MageInfo[i].LegacyId">@Model.MageInfo[i].Legacy</a></td>
                }
                else
                {
                    <td></td>
                }
                <td>@Model.MageInfo[i].Order</td>
                @if (Model.MageInfo[i].OrderStatusId != null)
                {
                    <td><a href="https://dbeditor.azurewebsites.net/Titles/DetailsCaucus/@Model.MageInfo[i].OrderStatusId">@Model.MageInfo[i].OrderTitle</a></td>
                }
                else
                {
                    <td></td>
                }
                @if (Model.MageInfo[i].ConsiliumStatusId != null)
                {
                    <td><a href="https://dbeditor.azurewebsites.net/Titles/DetailsConsilium/@Model.MageInfo[i].ConsiliumStatusId">@Model.MageInfo[i].ConsiliumTitle</a></td>
                }
                else
                {
                    <td></td>
                }
                <td>@Model.MageInfo[i].Arcana</td>
                <td>@Model.MageInfo[i].Notes</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{ 
    <script type="text/javascript">
        var table = $('#NPCTable').DataTable();

        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            var level = 1;
            if ($('#Level option:selected').text() != "Select Level") {
                level = parseInt($('#Level option:selected').text());
            }

            if ($('#Arcana option:selected').text() == "Select Arcana") {
                return true;
            }

            var arcana = $('#Arcana option:selected').text().trim();

            var totalArcana = data[7];
            var splitArcana = totalArcana.split(',');

            for (i = 0; i < splitArcana.length; i++) {
                if (splitArcana[i].indexOf(arcana) >= 0) {
                    var splitLevel = splitArcana[i].split(' ');
                    var currentLevel = 0;
                    if (splitLevel.length > 2) {
                        currentLevel = parseInt(splitLevel[2]);
                    }
                    else {
                        currentLevel = parseInt(splitLevel[1]);
                    }
                    if (currentLevel >= level) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            }
        });

        $('#Arcana, #Level').change(function () {
            table.draw();
        });
    </script>
}
